
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap');


/* Colors 
#3E3232
#503C3C
#7E6363
#A87C7C

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

*/


#root {
min-height: 100vh;
display: flex;
flex-direction: column;
}

.main {
  flex-grow: 1;
}

footer{
  background-color: #3E3232;
}


.nav-estilo{
  background-color: #503C3C;
}


.titulo-inicio{
  font-family: "Playball", cursive;
}

.botonColor{
  background-color:#A87C7C ;
  color: rgb(35, 35, 35);
  font-family: "Roboto", sans-serif;
  font-size: large;
}
.botonColorInicio{
  background-color:#A87C7C ;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.botonColorCrear{
  background-color:#A87C7C ;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.img-producto-admin{
  width: 300px;
  height: auto;
}

.contenedor-img-detalle {
  width: 100%;
  object-fit: cover;
}


.img-detalle {
  height: 500px;
  object-fit: cover;
}