@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap');

/* Colors 
#3E3232
#503C3C
#7E6363
#A87C7C
*/
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cargando{
  color: #A87C7C;
}

.main {
  flex-grow: 1;
}

footer {
  background-color: #3E3232;
}


.nav-estilo {
  background-color: #503C3C;
}


.titulo-inicio {
  font-family: "Playball", cursive;
}

.imagen-banner {
  object-fit: cover;
  height: 550px;
}

.botonColor {
  background-color: #A87C7C;
  color: rgb(35, 35, 35);
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.botonColorInicio {
  background-color: #A87C7C;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.botonColorCrear {
  background-color: #A87C7C;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

Table {
  background-color: #A87C7C;
}

.img-receta-admin {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.contenedor-img-detalle {
  width: 100%;
  object-fit: cover;
}
/* login */
.container-login {
  background: rgba(44, 46, 52, 0.529);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.fondo-login {
  flex-grow: 1;
  background-image: url('./assets/ingredientes.jpeg');
  background-size: cover;
  /* Esto ajusta la imagen para cubrir todo el fondo */
  background-position: center;
  /* Esto centra la imagen en el fondo */
  background-repeat: no-repeat;
  /* Esto evita que la imagen se repita */
}
.titulo-login{
  font-family: "Playball", cursive;
  color: aliceblue;
  -webkit-text-stroke-width:0.6px; /* Ancho del borde */
  -webkit-text-stroke-color: black; /* Color del borde */
  font-weight: 400;
}
/* end Login */
.img-detalle {
  height: 500px;
  object-fit: cover;
}

.img-card-inicio {
  width: auto;
  height: 350px;
  object-fit: cover;
}

/* responsive  */
@media only screen and (max-width: 991px) {

  .imagen-banner {
    object-fit: cover;
    height: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .imagen-banner {
    object-fit: cover;
    height: 325px;
  }

  .img-receta-admin {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}